.mission-container {
    background-color: lavender;
    border-radius: 8px;
    color: #7B7A7A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.699);
}

p{
    padding-left: 15px;
    padding-right: 15px;
   padding-bottom: 15px;
}

h1{
    padding-top: 10px;
    padding-left: 15px;
}

.usage-container {
    background-color:#7B7A7A;
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.711);
}

b{
    
    padding-left: 15px;
    padding-right: 15px;
   padding-bottom: 15px;
}

ul{
    padding-left: 15px;
    padding-right: 15px;
   padding-bottom: 15px;
}