.diagnosisContainer{
  
    /* overflow-x: scroll; or overflow-x: auto; */
    overflow: hidden;
    border: 1px solid #7B7A7A;
    border-radius: 10px;
    padding: 5px;
   
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    
   
}
.diagnosisContainer:nth-child(odd){
  background-color: #F4C2C2;
  color: #7B7A7A;
}
.diagnosisContainer:nth-child(even){
  background-color: lavender;
  color: #7B7A7A;
}


.diagnosisPic{
    height: 100px;
}

/* .prediction-names {
   padding-left: 95%;

} */

.pictureDate{
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Lucida Handwriting';
}
.picture-date-container{
  /* border: 1px solid #7B7A7A; */
  width: 40%;
  float: left;
  margin: 5px;
  
}
.top{
  width: 100%;
  float: left;
}
.top p {
  margin:1px;
  font-weight: bold;
  font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.middle{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  padding-left: 12px;
}
.bottom{
  width: 105%;
  position: relative;
  left:-5px;
  bottom:-5px;
  background-color: #EFEFEF; 
  
}
input[type='file']{
  display: none;
}
.update-btn{
  display: block;
  padding: 10px 20px;
  padding-left: 22px;
  background-color: #EFEFEF; 
  color: #7B7A7A; 
  font-size: 15px;
  /* border-radius: 4px; */
  cursor: pointer;
  /* height: 40px;
  width: 80px; */
  width: 30%;
  /* position: relative;
  bottom:-1px; */
  float: right;
  /* position: relative;
  left:5px;
  bottom:-5px; */
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.delete-btn{
  display: inline-flexbox;
  padding: 10px 20px;
  background-color: #EFEFEF; 
  color: #7B7A7A; 
  /* border-radius: 4px; */
  cursor: pointer;
  height: 40px;
  width: 47%;
  border: 1px solid #EFEFEF;
  font-size: 15px;
  margin-right: 0px;
  /* margin-left: 50px; */
  font-weight: bold;
  /* position: relative;
  left: -5px;
  bottom:-5px; */
  border-right: 1px solid black;
}
.details-btn{
  display: inline-block;
  padding: 10px 20px;
  /* background-color: #7B7A7A; */
  color: #7B7A7A; 
  /* border-radius: 10px; */
  cursor: pointer;
  height: 40px;
  width: 104%;
  border: 1px solid #EFEFEF;
  font-size: 15px;
  margin-right: 5px;
  font-weight: bold;
  /* margin-left: 17px; */
  /* position: relative;
  bottom: -5px;
  left: -5px; */
  border-top: 1px solid black;
  padding-right: 45px;
  

}

.arrow-down {
    border: solid #7B7A7A;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    float: right;
    
   
  }
  .arrow-up {
    border: solid #7B7A7A;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    
    float: right;
    
   
  }

  .history-btn{
    background-color: #EFEFEF;
  }

  
 
  /* .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  } */