.image-container {
    width: 300px;
    height: 200px;
    padding-left: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-left: 5%;
    box-shadow: 5px 8px 16px 5px rgb(175, 118, 118);
    border-radius: 10px;
}

.data-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    background-color: green;
    border-radius: 8px;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px; 
   
}

.condition-name {
    flex-grow: 1; 
    margin-right: 5px; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}



.p-btn {
    border-radius: 8px;
    flex-basis: 80px; 
    width: 100px;
   
}

.data-container:nth-child(odd) {
    background-color: #75a6ce;
    color: rgb(255, 255, 255);
  
}

.data-container:nth-child(even) {
    background-color: #195382;
    color: rgb(255, 255, 255);
    
}

h2 {
    margin-left: 8%;
    color: #195382;
   
}

.bar {
    width: 90%; 
    height: auto; 
    max-width: 600px; 
    margin: 5% auto; 
    box-shadow: 10px 18px 16px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  .three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5D3FD3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }
   