

.nav-logo {

  display: flex; 
  justify-content: space-between; 
  align-items: center; 

  width: 100%;
  height: 80px;
  background-color:  lavender;
  bottom: 0;
  right: 0;
  z-index: 5;
  position: fixed;
  
}


.history-logo,
.about-logo,
.camera-logo,
.quiz-logo,
.exit-logo {

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.history-logo {
  /* padding-left: 10px; */
  color: #7B7A7A;
  
}




.camera-logo {


  padding-top: 1%;
  margin-bottom: 3px;

color: #7B7A7A;

}




.exit-logo {
  background-color: lavender;
color: #7B7A7A;



}

.img-logo {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}


